.links-header{
	display: flex;
	margin-right: 40px;
	justify-content: space-between;
}

.links-header__row{

	&:not(:last-child){
		margin-right: 20px;
	}

	a{
		display: flex;
		height: 100%;
		align-items: center;
		color: inherit;

		&:hover{
			text-decoration: underline;
		}
	}
}
