.promo__description-block {
	display: flex;
	align-items: center;
}

.description {
	max-width: 350px;
	align-items: center;
	&__title{
		font-weight: 900;
		font-size: 34px;
		color: #241400;
		margin-bottom: 17px;
	}
	&__subtitle{
		margin-bottom: 17px;
		font-size: 13px;
		line-height: 180%;
	}
}