.header__logo {
	display: flex;
	margin-right: 70px;
}
.header__logo-text{
	margin-left: 6px;
	color: #4D2900;
}

.header__title {
	text-decoration: underline;
	font-weight: 900;
	line-height: 17px;
	text-transform: uppercase;
}
.header__subtitle{
	font-size: 13px;
}