.header{

	&__logo {
		display: flex;
		margin-right: 80px;
		align-items: center;
	}
	&__logo-text{
		margin-left: 6px;
		color: #4D2900;
	}
	&__title {
		text-decoration: underline;
		font-weight: 900;
		line-height: 17px;
		text-transform: uppercase;
	}
	&__subtitle{
		font-size: 13px;
	}
}

