.sale{
	padding: 0 0 75px 0;
	color: #241400;

	&__header{
		margin-bottom: 40px;
	}
	&__title{
		text-align: center;
		font-weight: 900;
		font-size: 25px;
		line-height: 196.19%;
	}
	&__books-slider{
		position: relative;
		width: 93%;
		margin: 0 auto;
		height: 100% !important;
	}
	
}