
.hot-arrivals {
	padding: 0 0 75px 0;

	&__block{
		color: #241400;
	}
	&__header{
		display: flex;
	}
	&__title{
		font-weight: 900;
		font-size: 25px;
		margin: 0 95px 40px 0;
		line-height: 196.19%;
	}
	&__links{
		display: flex;
	}
	&__row{
		font-size: 13px;
		text-align: center;
		&:not(:last-child){
			margin-right: 40px;
		}
	}
	&__link{
		display: block;
		margin-top: 13px;
		color: inherit;
		line-height: 196.19%;
		&:hover{
			text-decoration: underline;
		}
	}

	&__wrapper-books-list{
		// padding: 50px 20px 65px 20px;
		color: #241400;
		text-align: left;
		height: 800px;
		
	}
	&__books-slider{
		position: relative;
		width: 93%;
		margin: 0 auto;
		height: 100% !important;
	}
	
}


/*
* @media - adaptive media req from _media.scss;
* _button - button styles;
*/

@import '../../Styles/block/button';
@import '../../Styles/block/media';