
.hot-arrivals {
	padding: 0 0 75px 0;

	&__block{
		color: #241400;
	}
	&__header{
		display: flex;
	}
	&__title{
		font-weight: 900;
		font-size: 25px;
		margin: 0 95px 30px 0;
		line-height: 196.19%;
	}
	&__links{
		display: flex;
		margin-top: 11px;
	}
	&__row{
		font-size: 13px;
		
		text-align: center;
		&:not(:last-child){
			margin-right: 40px;
		}
	}
	&__link{
		color: inherit;
		line-height: 196.19%;
		&:hover{
			text-decoration: underline;
		}
	}

	&__wrapper-books-list{
		// padding: 50px 20px 65px 20px;
		color: #241400;
		text-align: left;

		
	
		// display: grid;
		// grid-template-columns: repeat(5, minmax(200px, auto));
		// grid-template-rows: repeat(3, auto);
		// grid-auto-rows:  auto;
		// justify-content: space-around;
		// gap: 30px;


	
		/*
		width: 12500px;
		height: 450px;
		display: inline-block;
		background-color: grey;
		overflow-x: scroll;
		overflow-y: hidden;
		
		&::-webkit-scrollbar  {
			width: 100% !important;
		 }
		 &::-webkit-scrollbar-track {
			background: gold !important;
		 }
		 &::-webkit-scrollbar-thumb {
			background: rgb(0, 0, 0) !important;
		 }
		 &::-webkit-scrollbar-thumb:hover {
			background: rgb(255, 255, 255) !important;
		 }
		 
		 &::-webkit-input-placeholder {
			color: rgba(255, 255, 255, 0.835) !important;
		 }
		*/
	}
	
}

/*
._wrapper-books {
	width: 1250px;
	height: 390px;
	background-color: grey;
	overflow-x: auto;
	overflow-y: hidden;
}
*/

// @import '../../Components/Books/Books.scss';