.App {
}

._wrapper{
  min-height: 100%;
	overflow: hidden;
}

.container{
	display: flex;
	max-width: 1250px;
	margin: 0 auto;
  	padding: 0px 15px;
	box-sizing: content-box;
}

.main-content-container{
	max-width: 950px;
}

.aside-content-container{
	max-width: 300px;
}


